################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lec4_task4/lec4_task4.csproj
/lec4_task4/Program.cs
/lec4_task4.sln
